<div class="n-hopin c-sidebar">
  <ul class="n-hopin c-sidebar__list">
    <li><a href="/">Home</a></li>
    <li>Variables</li>
    <li>
      <ul>
        <li><a href="/variables/colors.html">Colors</a></li>
        <li><a href="/variables/dimensions.html">Dimensions</a></li>
        <li><a href="/variables/fonts.html">Fonts</a></li>
      </ul>
    </li>
    <li>Elements</li>
    <li>
      <ul>
        <li><a href="/elements/typography.html">Typography</a></li>
        <li><a href="/elements/html.html">HTML Elements</a></li>
      </ul>
    </li>
    <li>Components</li>
    <li>
      <ul>
        <li><a href="/components/index.html">All</a></li>
      </ul>
    </li>
    <li>Layouts</li>
    <li>
      <ul>
        <li><a href="/layouts/index.html">All</a></li>
      </ul>
    </li>
    <li><a href="/devtools/css-naming.html">Developer Tools</a></li>
  </ul>
</div>