.n-hopin-styleguide-c-selector-row {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

.n-hopin-styleguide-c-selector-row__container {
  display: inline-flex;
  flex-direction: column;
}

.n-hopin-styleguide-c-selector-row__group {
  display: inline-flex;
  flex-direction: column;
  margin: 0 4px;
}

.n-hopin-styleguide-c-selector-row__group span:first-child {
  border-radius: 4px 4px 0 0;
}

.n-hopin-styleguide-c-selector-row__group span:last-child {
  border-radius: 0 0 4px 4px;
}

.n-hopin-styleguide-c-selector-row__group span:first-child:last-child {
  border-radius: 4px;
}

.n-hopin-styleguide-c-selector-row span {
  padding: 4px;
}

.n-hopin-styleguide-c-selector-row__group--namespace {
  background-color: #1abc9c;
}

.n-hopin-styleguide-c-selector-row__group--type {
  background-color: #3498db;
}

.n-hopin-styleguide-c-selector-row__group--body {
  background-color: #9b59b6;
}

.n-hopin-styleguide-c-selector-row__group--element {
  background-color: #f1c40f;
}

.n-hopin-styleguide-c-selector-row__group--modifier {
  background-color: #e74c3c;
}