{{ define "show-card"}}
  {{ if or .Params.CardPartial .Params.CardContent }}
  {{ partial "styleguide/components/styleguide-card.html" (dict "Title" .Title "RelPermalink" .RelPermalink "CardPartial" .Params.CardPartial "CardContent" .Params.CardContent) }}
  {{ end }}
{{ end }}

{{ define "main" }}
{{ partial "styleguide/layouts/main-open.html" . }}

<div class="n-hopin-styleguide-l-list-grid">
  <!-- First display the regular pages -->
  {{ $pages := where $.Site.RegularPages "Section" "styleguide"}}
  {{ range $pages }}
    {{ template "show-card" . }}
  {{ end }}

  <!-- Then display the index pages for subsections -->
  {{ $sections := (.Site.GetPage "section" "styleguide").Sections }}
  {{ range $sections }}
    {{ template "show-card" . }}
  {{ end }}
</div>

{{ partial "styleguide/layouts/main-close.html" . }}
{{ end }}