.n-hopin.l-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--hopin-swatch-min-width, 200px), 1fr));
  grid-row-gap: var(--hopin-home-item-vert-gap, 40px);
  grid-column-gap: var(--hopin-home-item-hori-gap, 80px);
}