.n-example-1-c-my-component {}

.n-example-1-c-my-component__title {}

.n-example-1-c-my-component__body {}

.n-example-1-c-my-component__title--fancy {}

.n-example-1-c-my-component__body--fancy {}

.n-example-1-c-my-component--fancy {}

.n-example-1-c-my-component--subtle {}


.n-other-namespace-c-my-component__body {}

.n-other-namespace-c-my-component__body--fancy {}

.n-other-namespace-c-my-component--subtle {}


.c-my-component {}

.c-my-component__title {}

.c-my-component__title--fancy {}