{{ define "load-static-css" }}
  {{ range (readDir $.dir) }}
    {{ $path := printf "%v/%v" $.dir .Name }}
    {{ if .IsDir }}
      {{ if or (strings.HasSuffix $path "-dev") (strings.HasPrefix $path "/themes/hopin-styleguide") }}
        {{ return }}
      {{ else }}
        {{ template "load-static-css" (dict "suffix" $.suffix "dir" $path) }}
      {{ end }}
    {{ else }}
      <!-- For each static directory we want to strip anything before static -->
      {{ $sections := split $path "static" }}
      {{ $path = index $sections 1 }}

      {{ if strings.HasSuffix $path $.suffix  }}
        <link rel="stylesheet" href="{{ $path }}">
      {{ end }}
    {{ end }}
  {{ end }}
{{end}}

{{ range (slice "") }}
    {{ template "load-static-css" (dict "suffix" $.Params.suffix "dir" .) }}
{{ end }}