{{ define "find-colors" }}
    {{ range (readDir .dir) }}
        {{ $path := printf "%v/%v" $.dir .Name }}
        {{ if .IsDir }}
            {{ template "find-colors" (dict "dir" $path "Scratch" $.Scratch) }}
        {{ else }}
            <!-- For each static directory we want to strip anything before static -->
            {{ $sections := split $path "static" }}
            {{ $path = index $sections 1 }}

            <!-- Add all the css files -->
            {{ if strings.HasSuffix $path "-colors.css"  }}
                {{ $.Scratch.Add "colors" (slice $path) }}
                <link rel="stylesheet" href="{{ $path }}">
            {{ end }}
        {{ end }}
    {{ end }}
{{end}}

{{ range .Site.Data.staticdirs }}
    {{ template "find-colors" (dict "dir" . "Scratch" $.Scratch) }}
{{ end }}

<h6>Found {{len ($.Scratch.Get "colors")}} Color Files </h6>

<ul>
{{ range ($.Scratch.Get "colors") }}
  <li>{{ . }}</li>
{{ end }}
</ul>