<!DOCTYPE html>
<html>
<head>
  <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
  {{ if $.Site.IsServer }}
    {{ partial "html/all-styles.html" }}
  {{end}}
</head>
<body>
  <div class="n-hopin-l-main">
    <input type="checkbox" id="n-hopin-l-main__sidebar-checkbox" />

    <div class="n-hopin-l-main__header">
      {{ partial "components/styleguide-header" }}
    </div>

    <div class="n-hopin-l-main__content">
      <main class="n-hopin-l-main__inner">
        {{- block "main" . }}{{- end }}
      </main>
    </div>

    <div class="n-hopin-l-main__sidebar">
      {{ partial "components/styleguide-sidebar" . }}
    </div>

    <label class="n-hopin-l-main__backdrop" for="n-hopin-l-main__sidebar-checkbox"></label>
  </div>
</body>
</html>
